rechnungsprozess-g8/AI Agent/My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analysiere den folgenden Text, der aus der PDF-Datei extrahiert wurde, und wandle ihn in das gewünschte JSON-Format um. Nutze AUSSCHLIESSLICH diesen Text:\n\n{{ $json.text }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "484f48c3-2056-446e-a1a0-b0b3b5306564",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Rechnung",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -16,
        0
      ],
      "id": "49247781-674d-467d-94b2-1dc255137221",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -48,
        240
      ],
      "id": "aab9c3fe-7fad-437f-b952-74c0c249a61f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "69iYlafvCmJVY57J",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"id\": { \"type\": \"string\" },\n    \"supplier\": { \"type\": \"string\" },\n    \"amount\": { \"type\": \"number\" },\n    \"date\": { \"type\": \"string\" },\n    \"positions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"description\": { \"type\": \"string\" },\n          \"quantity\": { \"type\": \"number\" },\n          \"unit\": { \"type\": \"string\" },\n          \"unitPrice\": { \"type\": \"number\" },\n          \"tax\": { \"type\": \"string\" }\n        },\n        \"required\": [\"description\", \"quantity\", \"unitPrice\"]\n      }\n    }\n  },\n  \"required\": [\"id\", \"supplier\", \"amount\", \"date\", \"positions\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        208
      ],
      "id": "7b1378b5-77fd-4ca9-8911-88b2cc91db82",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        576,
        0
      ],
      "id": "1a43b79b-3d85-411e-9320-c31f5e477e76",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rechnung",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        16
      ],
      "id": "b6cac0ae-4453-4a59-bfbb-55ec18dd3511",
      "name": "Webhook",
      "webhookId": "e1114e1d-631a-4e5b-81b0-6adfaf5fc827"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        176,
        208
      ],
      "id": "56361324-e1c9-4335-a00f-8245c4d69dfa",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "1UXQivw8brvf3YKb",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e39dc441-232b-41e7-940f-203dfa345483",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "42eee37504b63001fa960620f1ae9e89400c45d0a4865f65351bf595db042d5b"
  },
  "nodeGroups": [],
  "id": "XJhCbaKD1jSqSbHu",
  "tags": []
}